@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chicle&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chicle&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chicle&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-chicle: "Chicle", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-montaguslab: "Montagu Slab", serif;
  --color-bggreen: #18230f;
  --color-green: #1d8e42;
  --color-orange: #d14836;
  --color-brightorange: #fc692c;
  --color-hoverorange: #ff834f;
  --color-beige: #ecd06f;
  --color-whitebeige: #f5e8d7;
  --color-logogreen: #2d3624;
  --color-gitorange: #f05133;
  --color-textorange: #ff8f61;
  --color-blackie: #222222;
  --color-greenblink: #00bc1e;
  --color-formbox: #efece3;
  --color-blacktext: #36454f;
}

.wavy {
  --mask: radial-gradient(6.58px at 50% 8.7px, #000 99%, #0000 101%)
      calc(50% - 12px) 0/24px 51% repeat-x,
    radial-gradient(6.58px at 50% -2.7px, #0000 99%, #000 101%) 50% 6px/24px
      calc(51% - 6px) repeat-x,
    radial-gradient(6.58px at 50% calc(100% - 8.7px), #000 99%, #0000 101%)
      calc(50% - 12px) 100%/24px 51% repeat-x,
    radial-gradient(6.58px at 50% calc(100% + 2.7px), #0000 99%, #000 101%) 50%
      calc(100% - 6px) / 24px calc(51% - 6px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.sidebar-link {
  position: relative;
}

.sidebar-link.active {
  @apply text-beige;
}

.sidebar-link.active svg {
  @apply text-beige;
}

.sidebar-link.active::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 39px;
  border-radius: 9999px;
  background-color: #ecd06f;
}

#skills {
  position: relative;
}

#skills::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0px,
    rgba(245, 232, 215, 0.5) 1px,
    transparent 1px,
    transparent 130px
  );
  pointer-events: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}
